# ===================================================================
# artellapipe-libs-arnold requirements file
# ===================================================================
tpDcc-libs-python
artellapipe